html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
section {
  height: 100%;
}
#Home-Section {
  background: linear-gradient(45deg, #000000, #BF360C);
}
.ud_menu_aktive {
 background-color: #E0E0E0;
}
.nav-bar {
  width: 100%;
  background-color: white;
  position: fixed;
  box-shadow: 1px 1px 1px 1px;
  top: 0;
  z-index: 1;
}
.nav-bar img {
  justify-content: center;
  padding: 20px;
}
.nav-bar img:hover {
  transition: .5s;
  background-color: #E0E0E0;
}
.sub-wrapper {
  display: flex;
  flex-direction: row;
  float: right;
}
hr {
  height: 1px;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}
.header {
  justify-content: center;
  font-size: 20px;
  font-family: Montserrat;
  padding-top: 100px;
  color: #ffffff;
  text-align: center;
}
.header h1 {
  font-weight: lighter;
  margin-top: 0px;
}
.header a {
  font-size: 15px;
  border-radius: 20px;
  background: #BF360C;
  padding: 10px 30px;
  text-decoration: none;
  color: #ffffff;
}
section h1 {
font-family: Montserrat;
text-align: center;
padding-top: 80px;
color: #BF360C;
font-weight: lighter;
}
.container {
	max-width:400px;
  margin: 0 auto;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	line-height:30px;
	background:#F9F9F9;
  visibility: hidden;
	padding:25px;
}

#contact h3 {
	color: #FF5722;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: #29B6F6;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background: #29B6F6;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
.textfield {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.textfield p {
  font-family: Montserrat;
  font-size: 1.1em;
  text-align: justify;
  opacity: .7;
  max-width: 500px;
}
.grid-layout {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-layout .logo-wrapper {
  display: flex;
  justify-content: center;
}
.grid-layout div {
  margin: 0 auto;
  max-width: 250px;
  padding: 10px;
  padding-top: 100px;
}
.grid-layout div h1 {
  font-family: Montserrat;
  text-align: center;
  font-size: 1.2em;
  padding-top: 0px;
  color: #BF360C;
}
.grid-layout div p {
  font-family: Montserrat;
  text-align: justify;
  font-size: .9em;
  opacity: .7;
}
@media (max-width:600px) {
 .grid-layout {
   display: flex;
   flex-direction: column;
 }
 .grid-layout div {
   max-width: 240px;
 }
 #Work-Section {
   margin-top: 300px;
 }
}
footer {
   display: flex;
   justify-content: center;
   max-width: 100%;
 }
 footer div {
   padding: 0px 10px;
 }
 footer i {
   color: grey;
   transition: 0.5s;
   padding: 10px 20px;
 }
 footer i:hover {
   transition: 0.5s;
   transform: scale(1.4,1.4);
   color: #1c1c1c;
 }
